<div ng-controller="CreateCtrl">
<form name="createForm">
  <div id="selectStudent" ng-model="list in lists">
    <label for="studentList">Tutee</label>
    <select  ng-options="student as student.name for student in students track by student.id" ng-model="selected" required>
    </select>
  </div>

  <div id="selectClass">
    <label for="classList">Class</label>
    <select class="browser-default" name="classList" id="classList" default="" required>
    </select>
  </div>

  <div id="tutorDate">
    <label for="tutorDate">Date of Tutor Session</label>
    <input type="date" name="sessionDate" ng-model="date" default={{date}} required>
  </div>

  <div id="tutorTime">
    <div id="startTime">
      <label for="startInput">Start Time</label>
      <input type="time" name="startTime" placeholder="format: 1:00pm" required>
    </div>
    <div id="endTime">
      <label for="endInput">End Time</label>
      <input type="time" name="endTime" placeholder="format: 1:30pm" required>
    </div>
  </div>

  <div id="subjectDiv">
    <label for="subjectInput">What did you and your tutee work on this session?</label>
    <textarea type="text" id="subjectInput" name="subjectInput" required></textarea>
  </div>

  <div id="responseDiv">
    <label for="responseInput">How is the student responding to the course material?</label>
    <textarea type="text" id="responseInput" name="responseInput" required></textarea>
  </div>

  <div id="planDiv">
    <label for="planInput">What are your plans for the next session?</label>
    <textarea type="text" id="planInput" name="planInput" required></textarea>
  </div>

  <div id="studPlanDiv">
    <label for="studPlanInput">How will the student prepare for the next session?</label>
    <textarea type="text" name="studPlanInput" required></textarea>
  </div>

  <div id="commentDiv">
    <label for="commentInput">Additional Comments:  (optional)</label>
    <textarea type="text" name="commentInput"></textarea>
  </div>
  <div id="formButtons">
    <button type="submit" value="Submit" ng-click="submitForm()">Submit</button>
    <button type="reset" value="Reset">Reset</button>
  </div>
</form>
</div>
